version: '3'

volumes:
  database-data-volume: # named volumes can be managed easier using docker-compose

services:
  database:
    image: "postgres:latest"
    restart: unless-stopped
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: howmoney
      POSTGRES_PASSWORD: howmoney
      POSTGRES_DB: postgres
    volumes:
      - ./howmoney-volume:/var/lib/postgresql/data/

  pgadmin:
    image: dpage/pgadmin4
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: howmoney@howmoney.com
      PGADMIN_DEFAULT_PASSWORD: howmoney
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
       - ./.pgadmin:/root/.pgadmin
       - ./.pgadmin-backups:/backups
    ports:
      - "9001:80"
